.row {
	#item-1 {
		background-image: url(../Assets/coffee.jpg);
		background-position: center;
		background-size: cover;
	}
	#item-2 {
		background-image: url(../Assets/me.jpeg);
		background-position: center;
		background-size: cover;
	}
	#item-3 {
		background-image: url(../Assets/computer.jpg);
		background-position: center;
		background-size: cover
	}
}

.container-1{
	padding: 0 5vw;
	height: auto;
	.row-1 {
		width: 100%;
		height: auto;
		padding-top: 10vh;
		//margin: 10% 0px;
		.item {
			width: 24%;
			display: flex;
			flex-direction: column;
			text-align: center;
			line-height: 1;
			height: auto;
			padding: 0 2vw;
			//margin: 25% 0;
			border: none;
			span {
				width: 100%;
				height: 30%;
				display: flex;
    		align-items: flex-end;
				margin-bottom: 2vw;
				.fa  {
					font-size: 3em;
					line-height:inherit;
				}
				.fa-circle {
					font-size: 5em;
					line-height:inherit;
					color: #3A0000;
				}
			}
			hr {
				width: 80%;
			}
			h3 {
				line-height: 1.5;
				font-weight: 700;
				font-size: 20px;
				//margin-top: 20%;
			}
			p {
				line-height: 2;
				font-size: 1.3em;
			}
		}
	}
}


@media only screen and (max-width: 920px) {
	.row .item,
	.row-1 .item {
		width: 98%;
		margin: 30px 0;
	}
	.hero {
		.container {
			width: 100%;
			//text-align: center;
			padding: 0;
		}
	}
	.row {
		
	}
	.container-1 {
		h3 {
		//	margin-top: 20px;
		}
		.row-1 .item {
			width: 34%;
		}
	}
}

@media only screen and (max-width: 1135px) {
	#hero {
		.container{
			height: 25vw;
			h2 {
				font-size: 275%;
			}
		}	
	}
}

@media only screen and (max-width: 800px) {
	.container-1 {
		.row-1 {
			.item {
				p {
					line-height: 1;
					font-size: initial;
				}
			}
		}
	}
}